@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.retangulo{

    /* Rectangle 10 */

width: 33px;
height: 2px;
margin-top: 7px;
margin-right: 10px;


background: #ED553B;

}



.bpTitle1{
    color: orange;
    /* CATEGORIAS */
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    margin-bottom: 2vh;
    margin-left: 6vw;
    margin-top: 150px;
    color: #ED553B;
    display:flex
}

.single-book{
    
    padding-top: 5vh;
    padding-left: 7vw;
    display: flex;
    justify-content: center;
    align-content: center;
}

.book-cover{
    margin: 1vh;
    
    width: 90% !important;
    height: 90% !important;
    margin: 0.75rem;
}

.book-container{
    background-color: white;
    box-shadow: 5px 5px 20px 1px rgb(128 128 128 / 80%);
    display: flex;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    height: 55vh;
    width: 80vw;


}

.book-text-section{
    margin-left: 6vw;
    align-self: flex-start;

}

.book-text-section h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */
    text-transform: capitalize;
    color: #393280;
    margin-bottom: 2vh;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.book-text-section .author-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 5px;
    /* identical to box height */
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #808080;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.description-divider{
    border: 1px solid;
    border-color: #ED553B;
    background-color: #ED553B;
    display: flex;
    height: 2px;
    width: 150px;
}


.sub-info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 58px;
    /* identical to box height */
    text-transform: capitalize;
    margin-top: 1vh;
    margin-bottom: 1vh;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.book-description{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    width: 40%;
    /* identical to box height */
    text-transform: capitalize;
    margin-bottom: 4vh;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    color: #808080;
}

p.book-description {
    width: 100%;
}

.book-text-section {
    max-width: 500px;
}

.book-container {
    max-width: 350px;
    max-height: 100%;
    min-height: 500px;
}

.book-price{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1px;
    /* identical to box height */
    text-transform: uppercase;
    /* Inside auto layout */
    flex: none;
    order: 0;
    color: #ED553B;
}

.button-line{
    margin: 0;
}

input.comprar-livro-pagina {
    background: white;
    color: #3F35A1;
    margin-top: 2%;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px #3F35A1; 
    letter-spacing: 2px;
    border-style: solid;
    border-radius: 10px;
}

