@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

.categoria{
    margin-top: 150px;
    margin-left: 6vw;
    margin-right: 6vw;
    margin-bottom: 20vh;
}

.retangulo{

    /* Rectangle 10 */

width: 33px;
height: 2px;
margin-top: 7px;
margin-right: 10px;


background: #ED553B;

}


.cTitle1{

    color: orange;
    /* CATEGORIAS */
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    margin-bottom: 0;
    color: #ED553B;
    display:flex
}

.cSubTitle{

    /* Explore nossas categorias */

    font-family:'Roboto';
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    /* or 138% */
    margin-bottom: 6vh;
    color: #393280;


}

.cGridContainer{
    display:flex
}

.cGridItem{

    width: 33%vw;

}

.cContainerImg {

    height: 70%;
    width: 100%;


}


.cGridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 80px;
    grid-row-gap: 10px;
}
    
.item1 { grid-area: 1 / 1 / 2 / 2; }
.item2 { grid-area: 1 / 2 / 2 / 3; }
.item3 { grid-area: 1 / 3 / 2 / 4; }
.item4 { grid-area: 2 / 1 / 3 / 2; }
.item5 { grid-area: 2 / 2 / 3 / 3; }
.item6 { grid-area: 2 / 3 / 3 / 4; }

.cGridContainer img{

    height:30vh;
    width:100%;
    border-radius: 20px;
    margin-bottom: 1vh;

    
}

.cGridContainer h3 {
    /* Higher Education */
    font-family: 'Inter';
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
/* or 133% */
    text-align: center;
    font-weight: 600;
    color: #393280;
    margin-bottom: 1vh;
}

.cGridContainer p {

    /* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu feugiat amet, libero ipsum enim pharetra hac. Urna commodo, lacus ut mat, */

width: 100%;
height: 60vh;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* or 200% */
text-align: center;

color: rgba(57, 50, 128, 0.7);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}