form {
    width: 100%;
    padding: 0px 40px;
}

.form_row {
    display: flex;
    width: 90%;
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
}

.right-margin {
    margin-right: 25px;
}

.inline-block {
    display: inline-block;
    width: 100%;
}

.inline-block input {
    width: 100%;
    font-size: 14px;
    padding: 10px;
}

.inline-block label {
    font-family: 'Roboto';
    color: gray;
    font-size: 14px;
}

.big_input {
    height: 100px;
    padding-bottom: 70px;
}

.rounded {
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: lightgrey;
}

.centralized {
    margin: 0 auto;
}

#image_select {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
}

body#fBody{
    padding-top: 150px;
}

input.rounded.centralized {
    background: #3F35A1;
    color: white;
    padding: 10px;
    border: none;
}

.fTitle1{
    padding: 0px 80px;
    color: orange;
    /* CATEGORIAS */
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #ED553B;
    display:flex
}

.fSubTitle{

    /* Explore nossas categorias */
    padding: 0px 80px;
    font-family:'Roboto';
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    /* or 138% */
    color: #393280;
}