*, dl, ol, ul, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --purple: #393280;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif !important;
}

/*footer*/
footer {
    width: 100vw;
    background-color: var(--purple);
}

.container-footer {
    margin: 0 !important;
    padding-left: 0 !important;
}

.container-footer {
    margin: 0 !important;
    padding-left: 0 !important;
    font: 'Roboto';
}

.footer-social-logo {
    margin-bottom: 0.5rem;
    padding-left: 5%;
}

.footer-link-row {
    align-items: center;
}

.footer-company-logo {
    margin-bottom: 0.5rem;
}

/*header*/
header {
    background: rgb(227,224,255);
    background: linear-gradient(180deg, rgba(227,224,255,1) 0%, rgba(227,224,255,1) 35%, rgba(255,255,255,1) 100%);
}

#top-bar {
    background-color: var(--purple);
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}

.header-social-logo a {
    margin-left: 10px;
}

.phone {
    font-size: 14px;
}

header {
    width: 100vw;
    position: fixed;
    top: 0;
}

#header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
}

.menu .menu-nav{
    display: flex;
    flex-direction: row;
    list-style: none;
    column-gap: 20px;
    padding: 30px 0;
}

.menu .menu-nav li{
    border-right: 1px solid #D1D1D1;
}

.menu .menu-nav a{
    margin-right: 20px;
    text-transform: uppercase;
    color: #111111;
}

.menu .menu-nav a:active{
    font-weight: bold;
    color: #F37964;
}

.subnav {
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 10px 15px;
  list-style: none;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}

.menu .menu-nav  .subnav li{
    border-right: none;
    padding-top: 5px;
}

.menu .menu-nav .subnav a {
    margin-right: 0px;
}


.nav-dropdown:hover .subnav {
  display: block;
}


/* single product */

.book-container {
    display: flex;
    justify-content: center;
    height: 1;
}

.book-container > img {
    width: 8rem; 
    height: 12.8rem; 
    margin: 0.75rem;
}

.description > * {
    display: flex;
    justify-content: center;
}

.product-title {
    color: #000000;
    font-size: 1rem;
}

.author-name {
    color: #555555;
    font-size: 0.875rem;
}

.product-price {
    color: #ED553B;
    font-size: 1.125rem;
    margin-bottom: 5rem;
}

.ratings{
    margin-right:10px;
}

.ratings i{
    
    color:#cecece;
    font-size:32px;
}

.rating-color{
    color:#fbc634 !important;
}

.review-count{
    font-weight:400;
    margin-bottom:2px;
    font-size:24px !important;
}

.small-ratings i{
  color:#cecece;
  margin-bottom: 0.5rem;
}

.review-stat{
    font-weight:300;
    font-size:18px;
    margin-bottom:2px;
}

.section-catalogo{
    margin-top: 150px;
}

.single-product {
    box-shadow: 1px 4px 15px rgba(130, 130, 130,0.35);
    border-radius: 8px;
    width: 250px;
}


/* home */

section#home{
    padding: 150px 0px;
}

.title1{
    padding: 0px 80px;
    color: orange;
    /* CATEGORIAS */
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #ED553B;
    display:flex
}

.subTitle{
    /* Explore nossas categorias */
    padding: 0px 80px;
    font-family:'Roboto';
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    /* or 138% */
    color: #393280;
}

.retangulo{
    /* Rectangle 10 */
    width: 33px;
    height: 2px;
    margin-top: 7px;
    margin-right: 10px;
    background: #ED553B;
}

section.gridProducts {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 80px;
    column-gap: 10px;
    justify-content: space-between
}