@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.categoria{
    margin-top: 150px;
    margin-left: 6vw;
    margin-right: 6vw;
    margin-bottom: 8vh;
}



.retangulo{

    /* Rectangle 10 */

width: 33px;
height: 2px;
margin-top: 7px;
margin-right: 10px;


background: #ED553B;

}

.cTitle1{

    color: orange;
    /* CATEGORIAS */
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    margin-bottom: 2vh;
    color: #ED553B;
    display:flex
}

.cSubTitle{

    /* Explore nossas categorias */

    font-family:'Roboto';
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    /* or 138% */
    margin-bottom: 1vh;
    color: #393280;


}


.cGridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 15px;
    margin-left: 6vw;
    margin-right: 6vw;

    }
    
.item1 { grid-area: 1 / 1 / 2 / 2; }
.item2 { grid-area: 3 / 1 / 4 / 2; }
.item3 { grid-area: 2 / 1 / 3 / 2; }
.item4 { grid-area: 1 / 2 / 2 / 3; }
.item5 { grid-area: 2 / 2 / 3 / 3; }
.item6 { grid-area: 3 / 2 / 4 / 3; }

.cGridContainer img{

    height:30vh;
    width:20vw;
    border-radius: 20px;
    margin-bottom: 3vh;

    
}

.cGridContainer h3 {
    /* Higher Education */


font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 58px;
/* identical to box height */
text-transform: capitalize;

color: #393280;


margin-bottom: 6vh;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;



}

.cGridContainer p {

width: 587px;
height: 165px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 208%;
/* or 33px */
letter-spacing: 0.02em;

color: #7A7A7A;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


}